[Unit]
Description=uWSGI
After=syslog.target
Requires=nginx
After=nginx.service

[Service]
User=nginx
Group=nginx
PIDFile=/var/run/onica/onica.pid
ExecStartPre=-test -d /var/run/onica || /bin/mkdir /var/run/onica
ExecStartPre=-test -d /var/log/onica || /bin/mkdir /var/log/onica
ExecStartPre=-/bin/chown -R nginx: /var/run/onica
ExecStartPre=-/bin/chown -R nginx: /var/log/onica
ExecStartPre=-touch /var/run/onica/onica.pid
ExecStart=/opt/onica-hello-world/onica-hello-world/bin/uwsgi --ini /opt/onica-hello-world/onica.ini
RuntimeDirectory=onica
WorkingDirectory=/opt/onica-hello-world
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
